<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../footer.css" />
  </head>
  <body>
    <footer>
      <div class="logo1">
        <img src="../assets/logo/Carmel Logo.png" alt="carmel logo" />
        <div class="bar"></div>
        <img src="../assets/logo/Carmtif Logo.webp" alt="carmtif logo" />
      </div>
      <div class="contact">
        <h1>Contacts</h1>
        <div class="child1">
          <div class="child2">
            <h3>Pranav P</h3>
            <p>
              <a href="tel:+917025014788">
                <i class="fa-solid fa-phone" style="color: #ffffff"></i> +91 7025014788
              </a>
            </p>
          </div>
          <div class="bar"></div>
        
          <div class="child2">
            <h3>Soja P Babu</h3>
            <p>
              <a href="tel:+917736276002">
                <i class="fa-solid fa-phone" style="color: #ffffff"></i> +91 7736276002
              </a>
            </p>
          </div>
        </div>
          
        <div class="socials" >
          <a href="https://www.instagram.com/carmtif_2024?igsh=dW53NmFrZHBoMHJq" target="_blank">
          <div class="child0">
            <i class="fa-brands fa-instagram" style="color: #ffffff"></i>
          </div>
          </a>
          <a href="https://www.youtube.com/@carmelpolytechniccollege392"  target="_blank">
          <div class="child2">
            <i class="fa-brands fa-youtube" style="color: #ffffff"></i>
          </div>
          </a>
          <a href="mailto:info@carmelpoly.in">
          <div class="child3">
            <i class="fa-solid fa-envelope" style="color: #ffffff"></i>
          </div>
          </a>
          <a href="http://carmelpoly.in"  target="_blank">
          <div class="child4">
            <i class="fa-solid fa-globe" style="color: #ffffff"></i>
          </div>
          </a>
          <a href="https://maps.app.goo.gl/5CG4CRQcaiSBZ4V16">
          <div class="child4">
            <i class="fa-solid fa-map-marker-alt" style="color: #ffffff"></i>
        </div>
          </a>
        </div>
      </div>
      <div class="credits">
        <p>carmel polytechnic college, punnapra, alappuzha <br/><br/> <i class="fa-regular fa-copyright" style="color: #ffffff"></i>
            techfest 2024</p>
       
      </div>
    </footer>
  </body>
  <script
    src="https://kit.fontawesome.com/c080ff208b.js"
    crossorigin="anonymous"
  ></script>
</html>
